<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>가계부</title>
</head>
<body>
<div class="container">
    <table th:border="1" th:width="300px">
        <tbody>
            <tr>
                <td>
                    <a th:text="${member.nickname}"></a>
                    <a>님 환영합니다!</a>
                </td>

                <br>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/signIn/{id}/registration (id=${member.id})}" method="get">
        <button type="submit">가계부 등록</button>
    </form>
    <form th:action="@{/signIn/{id}/account (id=${member.id})}" method="get">
        <button type="submit">가계부 보기</button>
    </form>
</div>
</body>
</html>