<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{../../webapp/bootstrap.min.css}"
          href="../../webapp/bootstrap.min.css" rel="stylesheet">

    <style>
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>비밀번호 변경</title>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="|${member.nickname}님 비밀번호를 변경해주세요.|"></h2>
    </div>
    <form action="#" th:action="@{/search/{id}/rewrite (id=${member.id})}" th:object="${rewritePasswordForm}" method="post">
        <input type="hidden" id="id" name="id" th:value="${member.id}">
        <div class="form-group">
            <label for="password" class="form-label mt-4">비밀번호</label>
            <input type="password" id="password" name="password" th:field="*{password}" class="form-control"
                   th:errorclass="field-error" placeholder="비밀번호를 입력하세요">
            <div class="field-error" th:errors="*{password}"/>
        </div>
        <div class="form-group">
            <label for="validatedPassword" class="form-label mt-4">비밀번호 확인</label>
            <input type="password" id="validatedPassword" name="validatedPassword" th:field="*{validatedPassword}"
                   class="form-control" th:errorclass="field-error" placeholder="비밀번호를 다시 한번 입력하세요">
            <div class="field-error" th:errors="*{validatedPassword}"/>
        </div>
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg">비밀번호 재등록</button>
    </form>
</div>
</body>
</html>