<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{../../webapp/bootstrap.min.css}"
          href="../../webapp/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 800px;
        }
    </style>
    <title>게시판</title>
</head>
<body>
<div style="text-align: center">
    <form th:action="@{/boards/contents}" method="get">
        <label for="searchKeyword">
            <div style="float: left">
                <input id="searchKeyword" name="searchKeyword" class="form-control" style="float: left" placeholder="검색할 내용을 입력하세요">
            </div>
            <div style="float: left">
                <button type="submit" style="float: left" class="btn-primary btn ">검색</button>
            </div>
        </label>
    </form>
</div>
<div class="container">
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">게시글</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일자</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}" class="table-success">
            <td th:text="${board.orderId}"></td>
            <td th:text="${board.title}" th:href="@{/view/{nickname} (nickname=${board.nickname})}"></td>
            <td th:text="${board.nickname}"></td>
            <td th:text="${#dates.format(board.date, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${board.countVisit}"></td>
            <td>
                <form th:action="@{/view/{orderId} (orderId=${board.orderId})}" method="get">
                    <button type="submit" class="btn">게시글 보기</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="text-align : center">
        <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/boards/contents(page=${page-1}, searchKeyword=${param.searchKeyword})}" th:text="${page}" style="font-size: 12px; color: brown"></a>
            <strong th:if="${page==nowPage}" th:text="${page}" style="color:red"></strong>
        </th:block>
    </div>
</div>
</body>
</html>