<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{../../webapp/bootstrap.min.css}"
          href="../../webapp/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 1200px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <title>게시글</title>
</head>
<body>
<div class="container">
    <div>
        <table class="table table-hover table-bordered">
            <tbody>
            <tr>
                <td>번호</td>
                <td th:text="${board.orderId}"></td>
                <br>
            </tr>
            <tr>
                <td>제목</td>
                <td th:text="${board.title}"></td>
                <br>
            </tr>
            <tr>
                <td>작성자</td>
                <td th:text="${board.nickname}"></td>
                <br>
            </tr>
            <tr>
                <td>작성일</td>
                <td th:text="${board.date}"></td>
                <br>
            </tr>
            <tr class="table-warning">
                <td>내용</td>
                <td th:text="${board.content}" th:cols="10" th:rows="50"></td>
                <br>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table table-hover table-bordered">
            <tr th:if="${board.checked == true}" class="table-success">
                <td>수입</td>
                <td th:text="${calculator.importSum}"></td>
                <br>
            </tr>
            <tr th:if="${board.checked == true}" class="table-primary">
                <td >지출</td>
                <td th:text="${calculator.exportSum}"></td>
                <br>
            </tr>
            <tr th:if="${board.checked == true}" class="table-info">
                <td >총액</td>
                <td th:text="${calculator.importSum - calculator.exportSum}"></td>
                <br>
            </tr>
        </table>
    </div>
    <form th:action="@{/view/{id}/patch (id=${board.orderId})}" method="get">
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
    <br>
    <form action="#" th:action="@{/view/{id}/delete (id=${board.orderId})}" th:object="${boardForm}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>
        <input type="password" id="password" name="password" aria-describedby="passwordHelp" th:field="*{password}" class="form-control" th:errorclas="field-error" placeholder="비밀번호를 입력하세요">
        <div class="field-error" th:errors="*{password}" />
        <small id="priceHelp" class="form-text text-muted">회원가입 시 사용한 비밀번호를 입력하시오.</small>
        <br>
        <button type="submit" class="btn btn-primary">삭제</button>
    </form>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th scope="col">댓글 번호</th>
            <th scope="col">댓글</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}" class="table-success">
            <td th:text="${comment.commentKey}" style="width:100px"></td>
            <td th:text="${comment.boardComment}"></td>
            <td th:text="${comment.nickname}" style="width: 100px"></td>
            <td th:text="${#dates.format(comment.date, 'yyyy-MM-dd HH:mm')}"></td>
            <td>
                    <form th:action="@{/view/{commentId}/deleteComment (commentId=${comment.commentKey})}" method="post">
                    <input type="password" id="commentDeletePassword" name="commentDeletePassword" style="width: 200px;font-size: 7px ;display: inline-block" class="form-control" placeholder="비밀번호를 입력해주세요">
                    <button type="submit" class="btn" style="display: inline-block">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/view/{id}/comment (id=${board.orderId})}" method="post">
        <div class="form-group">
            <label for="nickname" class="form-label mt-4">작성자</label>
            <input type="text" id="nickname" name="nickname"  class="form-control"
                    placeholder="닉네임을 입력하세요">
        </div>
        <div class="form-group">
            <label for="boardComment" class="form-label mt-4">내용</label>
            <textarea cols="50" rows="2" id="boardComment" name="boardComment" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="commentPassword" class="form-label mt-4">비밀번호</label>
            <input type="password" id="commentPassword" name="commentPassword" class="form-control"
            placeholder="비밀번호를 입력하세요">
        </div>

        <button type="submit" class="btn btn-primary">작성</button>
    </form>
</div>
</body>
</html>