<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>지도 보기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{../../webapp/bootstrap.min.css}"
          href="../../webapp/bootstrap.min.css" rel="stylesheet">

    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2>맛집 지도</h2>
    </div>
    <input type="text" class="form-control" id="search" name="search" placeholder="검색할 장소를 입력하세요">
    <button type="submit" id="btn" class="btn btn-lg btn-primary">검색</button>
    <div id="map" style="width:800px;height:700px;"></div>
</div>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=74dd4e03a24463abcf127854291534f9&libraries=clusterer,service"></script>
<script>
    let positions = [{
        lat: 37.55111462,
        lng: 126.9101795146,
        info: '<div style="padding:5px;">크레이지 카츠' +
                '<br><a href="https://place.map.kakao.com/83301316" style="color:blue" target="_blank">상세 보기</a> ' +
            ' <a href="https://map.kakao.com/link/to/크레이지 카츠,37.55111462,126.9101795146" style="color:blue" target="_blank">길찾기</a></div>'
    }, {
        lat: 37.55474671,
        lng: 126.91623553,
        info: '<div style="padding:5px;">카와카츠'+
            '<br><a href="https://place.map.kakao.com/1351221007" style="color:blue" target="_blank">상세 보기</a> ' +
            ' <a href="https://map.kakao.com/link/to/카와카츠,37.55474671,126.91623553" style="color:blue" target="_blank">길찾기</a></div>'
    }, {
        lat: 37.57512474,
        lng: 126.97368,
        info: '<div style="padding:5px;">정돈'+
            '<br><a href="https://place.map.kakao.com/27306859" style="color:blue" target="_blank">상세 보기</a> ' +
            ' <a href="https://map.kakao.com/link/to/정돈,37.57512474,126.97368" style="color:blue" target="_blank">길찾기</a></div>'
    }, {
        lat: 36.3758196,
        lng: 127.38220678,
        info: '<div style="padding:5px;">성심당 본점'+
            '<br><a href="https://place.map.kakao.com/17733090" style="color:blue" target="_blank">상세 보기</a> ' +
            ' <a href="https://map.kakao.com/link/to/성심당 본점,36.3758196,127.38220678" style="color:blue" target="_blank">길찾기</a></div>'
    }, {
        lat: 35.1015312,
        lng: 129.0260405,
        info: '<div style="padding:5px;">이가네떡볶이 본점'+
            '<br><a href="https://place.map.kakao.com/20204736" style="color:blue" target="_blank">상세 보기</a> ' +
            ' <a href="https://map.kakao.com/link/to/이가네떡볶이 본점,35.1015312,129.0260405" style="color:blue" target="_blank">길찾기</a></div>'
    }, {
        lat: 35.116595,
        lng: 129.0414111,
        info: '<div style="padding:5px;">본전돼지국밥'+
            '<br><a href="https://place.map.kakao.com/12478775" style="color:blue" target="_blank">상세 보기</a> ' +
            ' <a href="https://map.kakao.com/link/to/본전돼지국밥,35.116595,129.0414111" style="color:blue" target="_blank">길찾기</a></div>'
    },{
        lat: 36.711730035403185,
        lng: 127.49625678039729,
        info: '<div style="padding:5px;">떡보라 본점'+
            '<br><a href="https://place.map.kakao.com/866726995" style="color:blue" target="_blank">상세 보기</a> ' +
            ' <a href="https://map.kakao.com/link/to/떡보라 본점,36.711730035403185,127.49625678039729" style="color:blue" target="_blank">길찾기</a></div>'
    },{
        lat: 37.56884370541443,
        lng: 126.98753738192227,
        info: '<div style="padding:5px;">멘텐'+
            '<br><a href="https://place.map.kakao.com/1501950936" style="color:blue" target="_blank">상세 보기</a> ' +
            ' <a href="https://map.kakao.com/link/to/멘텐,37.56884370541443,126.98753738192227" style="color:blue" target="_blank">길찾기</a></div>'
    }
    ]
    let container = document.getElementById('map');
    let options = {
        center: new kakao.maps.LatLng(36.627831, 127.4568115),
        level: 13
    };

    let map = new kakao.maps.Map(container, options);

    let mapTypeControl = new kakao.maps.MapTypeControl();

    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

    let zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);


    let clusterer = new kakao.maps.MarkerClusterer({
        map: map,
        averageCenter: true,
        minLevel: 10
    })
    markers = [];
    for (let i = 0; i < positions.length; i++) {
        let marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(positions[i].lat, positions[i].lng),
            clickable : true,
            map: map
        });
        iwRemovable = true
        let infoWindow = new kakao.maps.InfoWindow({
            content: positions[i].info,
            removable: iwRemovable
        });
        markers.push(marker);
        kakao.maps.event.addListener(marker,'click',makeOverListener(map, marker, infoWindow));
    }
    clusterer.addMarkers(markers);

    function makeOverListener(map, marker, infoWindow) {
        return function() {
            infoWindow.open(map, marker);
        };
    }

</script>
</body>
</html>